
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  max-width: 1200px; /* 최대 너비 */
  margin: 0 auto; /* 중앙 정렬 */
}
.nav-home{
  color: black; /* 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
  margin-left: 20px; /* 메뉴 간의 간격 */
  cursor: pointer;
}
.nav-home:hover{
  color:darkorange;
}
.nav-link {
  color: black; /* 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
  margin-left: 20px; /* 메뉴 간의 간격 */
  cursor: pointer;
}

.nav-link:hover {
  color: darkorange;
}

.navbar-brand {
  color: white; /* 브랜드 링크 색상 */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 24px; /* 브랜드 크기 */
}
.main-bg{
  width:100%;
  height: 300px;
  background-image: url('./img/bg.png');
  background-size: cover;
  background-position: center;
}
.product-list{
  display: flex;
  flex-wrap : wrap;
  justify-content: center;
}
.product{
  flex: 1 1 30%; /* 제품을 차지하는 비율*/
  text-align: center;
  margin:10px;
}